.container{
    width: 100%;
}
.container > section{
    width: 100%;
    margin-top: 7rem;
    display: flex;
    gap: 1.5rem;
    padding-bottom: 8rem;
    border-bottom: 3px solid #0EE7B7;
    @media (max-width: 1000px) {
      gap: 1rem;
    }
    @media (max-width: 700px) {
        flex-direction: column;
        margin-top: 5rem;
        gap: 2rem;
    }
}

.itemContainer > div {
    background: linear-gradient(225deg, #313860 0%, #11172B 100%);
    padding: 1rem;
    padding-top: 2.5rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 19rem;
    transition: 0.5s;
}
.itemContainer > div h1 {
      color: #0EE7B7;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

.ItemContainer > div h2 {
      color: #7AC7E3;
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    .ItemContainer > div p {
      color: #C4C4C4;
      font-size: 1rem;
      font-weight: 300;
    }
.ItemContainer:hover > div {
    filter: brightness(1.3);
    transform: translateY(-20px);
  }
  .ItemContainer:nth-child(even) > div {
    margin-top: 4rem;
  }
  @media (max-width: 1000px) {
    .ItemContainer > div {
      height: 15rem;
      padding-top: 1.5rem;
    }
    .ItemContainer > div h1 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      .ItemContainer > div h2 {
        font-size: 1rem;
      }
    .ItemContainer > div   p {
        font-size: 0.9rem;
      }
  }
  @media (max-width: 700px) {
    .ItemContainer:nth-child(even) > div {
      margin-top: 0;
    }
    .ItemContainer:hover > div {
      transform: translateY(0);
    }
    .ItemContainer > div {
      height: auto;
      padding: 2rem;
      max-width: 100%;
    }
    .ItemContainer > div h1 {
        font-size: 2rem;
      }
    .ItemContainer > div  h2 {
        font-size: 1.5rem;
      }
    .ItemContainer > div  p {
        font-size: 1rem;
      }
  }
