.h1{
    font-size: 8rem;
    color: #0EE7B7;
  }
  .h2{
    color: #7AC7E3;
    font-size: 3rem;
    font-weight: 400;
  }
  @media (max-width: 1450px) {
    .h1 {
      font-size: 5rem;
    }
    .h2 {
      font-size: 2rem;
    }
  }
  @media (max-width: 1000px) {
    .h1 {
      font-size: 3rem;
    }
    .h2 {
      font-size: 1.5rem;
    }
  }
  .container {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .container > Image {
    width: 30rem;
    flex: 1;
  }
  
  .container > div {
    flex: 4;
  }
  
  @media (max-width: 1450px) {
    .container > Image {
      width: 30rem;
    }
    .container > div {
      flex: 1;
    }
  }
  
  @media (max-width: 1000px) {
    .container > Image {
      width: 22rem;
    }
  }
  
  .infoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .codeItem{
    background: linear-gradient(225deg, #313860 0%, #11172B 100%);
    padding: 2rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    color: #fff;
    width: 24rem;
    align-self: flex-start;
    transition: 1s !important;

  }
  .codeItem:hover {
    filter: brightness(1.2);
  }
  .codeItem:last-child {
    align-self: flex-end;
  }